main .section.two-up.columns-container {
    padding: 064px 5.125rem 64px 4.875rem;
}

main .section.two-up.columns-container > div {
	max-width: unset;
}

.columns > div {
  display: flex;
  flex-direction: row;
  gap: 80px;
}

.columns img {
  width: 100%;
  display: block;
}

.columns > div > div {
  order: 1;
  position: relative;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns > div p.button-container {
	position: absolute;
	bottom: 24px;
	right: 24px;
}

.columns > div > div p {
	margin: 0;
}

.columns > div p.button-container a {
	color: var(--white);
	display: block;
	width: fit-content;
}

.columns > div p.button-container a:hover {
	text-decoration: none;
}

@media (width <= 767px) {
  main .section.two-up.columns-container {
	padding: 40px 0.5rem;
  }

  .columns > div {
    align-items: center;
    flex-direction: column;
	gap: 2rem;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

@media (width >= 767px) and (width <= 1023.98px) {
	main .section.two-up.columns-container {
		padding: 48px 2rem;
	}

	.columns > div {
		gap: 2rem;
    }
}