main .section.teaser-container {
	padding: 0;

}

main .section.teaser-container > div {
	padding: 0;
	max-width: unset;
}

.teaser.short {
	margin-bottom: 20px;
}

.teaser > div > div.hidden {
	display: none;
	visibility: hidden;
}

.teaser img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}